body {
  font-size: 11pt;
}

body h1 {
  margin-right: 1.5in;
}

#qrcode {
  display: block;
  position: absolute;
  top: 6px;
  right: 0px;
}

#sidebar {
  font-family: Georgia, serif;
  font-size: 90%;
  border-top: 1px solid #aeaeae;
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 30px;
}

#sidebar,
#sidebar .coverage,
#sidebar .nearby,
#sidebar .seealso,
#sidebar .snapshot,
#sidebar .tagged,
#sidebar .topics,
#sidebar .homelinks {
  display: none;
}

#sidebar input {
  width: 80%;
}

#sidebar dl,
#sidebar dt,
#sidebar p {
  display: inline;
}

#sidebar > div {
  padding-left: 30px;
}

#sidebar div.disclaimer {
  padding-left: 0px;
  font-size: 90%;
}

#sidebar div h3 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: -30px;
}

#sidebar dt:before {
  content: ", ";
}

#sidebar dt:first-child:before {
  content: "";
}

#sidebar .itinerary dt:before {
  content: "";
}

#sidebar h3:after {
  content: " ";
}

#grpseealso {
    display: none;
}

#routemap {
  display: none;
}

#addcomment {
  display: none;
}

#admin {
  display: none;
}

div.itinerary div.calendar,
table.yearcalendar,
#itincal {
  display: none;
}

div.itingrp {
    page-break-inside: avoid;
}

p a.plink {
  display: none;
}

a,
a:visited,
a:link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #aaaaaa;
}

sup .osq,
sup .csq {
  display: none;
}

sup.footnote a,
sup.footnote a:visited,
sup.footnote a:link {
  text-decoration: none;
}

.footnote sup a,
.footnote sup a:visited,
.footnote sup a:link {
  text-decoration: none;
}

div.icons {
  display: none;
}
